N8N_Workflows/Polidata___Github___Auto_backup_using_llm_to_summarize_changes.json
{
  "createdAt": "2025-07-26T16:25:20.330Z",
  "updatedAt": "2025-07-26T20:35:29.000Z",
  "id": "tarokXiRcoGowyHr",
  "name": "Polidata - Github - Auto backup using llm to summarize changes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1744510d-7ed7-46d8-acd3-f975ab73f298",
              "name": "active",
              "type": "boolean",
              "value": "={{ $json.active }}"
            },
            {
              "id": "7e76f5dc-0c32-4b26-a289-975155b80112",
              "name": "url",
              "type": "string",
              "value": "=http://localhost:5678/workflow/{{ $json.id }}"
            },
            {
              "id": "a7b069bf-8090-4dca-a432-f4fd7aa84e6f",
              "name": "errorWorkflow",
              "type": "boolean",
              "value": "={{ !!$json.settings?.errorWorkflow }}"
            },
            {
              "id": "0bff7a9b-0860-4552-b0f6-5fc279fc75d6",
              "name": "workflow-name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "3065ee2f-d1bb-42b7-b341-7bb38b0f6720",
              "name": "updatedAt",
              "type": "string",
              "value": "={{ $json.updatedAt }}"
            },
            {
              "id": "ea9d39e4-50ca-4c79-b6ab-8b22cafd0257",
              "name": "createdAt",
              "type": "string",
              "value": "={{ $json.createdAt }}"
            },
            {
              "id": "265d66cd-1796-40eb-ae5b-dca8d1a91871",
              "name": "envId",
              "type": "string",
              "value": "=internal-{{ $json.id }}"
            },
            {
              "id": "6ffb9c13-82a7-4f40-b2e6-887c018b747c",
              "name": "workflow-definition",
              "type": "string",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            },
            {
              "id": "8b2a1098-125f-44b0-b8c0-99098e582156",
              "name": "workflow-export-filename",
              "type": "string",
              "value": "={{ $json.name.replace(/ /g, \"_\").replace(/-/g, \"_\") + \".json\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d702f13e-8e93-4142-87c7-49fbb6031e19",
      "name": "Set fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        352
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/23c8eab14f618020afc5ef6c8d5d0151/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"filter\": { \"and\": [\n    {\n        \"property\": \"envId\",\n        \"rich_text\": { \"contains\": \"{{ $json.envId }}\" }\n    }]\n}\n}",
        "options": {}
      },
      "id": "4527dc91-bad5-4214-b210-ea8f89504fbf",
      "name": "Get notion page with workflow id",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1280,
        352
      ],
      "typeVersion": 4.1,
      "credentials": {
        "notionApi": {
          "id": "n2OpdLYvvViJexf9",
          "name": "Polidata-beta Notion"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49092f3a-7f42-4067-b8ea-1073ef1d1bb8",
              "name": "input",
              "type": "object",
              "value": "={{ $('Set fields').item.json }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ced49644-b18f-4984-8dfd-199d88e3ded7",
      "name": "Map fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        352
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23c8eab1-4f61-8020-afc5-ef6c8d5d0151",
          "mode": "list",
          "cachedResultName": "Workflow Tracker",
          "cachedResultUrl": "https://www.notion.so/23c8eab14f618020afc5ef6c8d5d0151"
        },
        "title": "={{ $('Map fields').item.json.input['workflow-name'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|title",
              "title": "={{ $('Map fields').item.json.input['workflow-name'] }}"
            },
            {
              "key": "URL (dev)|url",
              "urlValue": "={{ $('Map fields').item.json.input.url }}"
            },
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.active }}"
            },
            {
              "key": "Workflow created at|date",
              "date": "={{ $('Map fields').item.json.input.createdAt }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Map fields').item.json.input.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.errorWorkflow }}"
            },
            {
              "key": "Record last update|date",
              "date": "={{ $now }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            },
            {
              "key": "envId|rich_text",
              "textContent": "={{ $('Map fields').item.json.input.envId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86edfe55-9a88-49ed-82de-df0c44a65d53",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        2272,
        320
      ],
      "typeVersion": 2.1,
      "credentials": {
        "notionApi": {
          "id": "n2OpdLYvvViJexf9",
          "name": "Polidata-beta Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Map fields').item.json.results[0].id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.active }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Set fields').item.json.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.errorWorkflow }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d547270-37dd-41ee-98b7-13001c954ffa",
      "name": "Update in Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        2272,
        512
      ],
      "typeVersion": 2.1,
      "credentials": {
        "notionApi": {
          "id": "n2OpdLYvvViJexf9",
          "name": "Polidata-beta Notion"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Concisely tell me what this N8N plugin does in 1-2 lines, then describe how it does it in no more than a paragraph, but only if that detail was already covered by the first 1-2 lines - we don't want to repeat ourselves.\n<n8nplugin>\n{{ $json.input['workflow-definition'] }}\n</n8nplugin>"
            }
          ]
        },
        "options": {}
      },
      "id": "f10268c7-706f-4651-9bee-99b13cdc1ed1",
      "name": "Summarize what the Workflow does",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1680,
        352
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "79jHL8vAUxLHQecL",
          "name": "Polidata-beta GPT"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extract key fields",
        "height": 300,
        "width": 480,
        "color": 4
      },
      "id": "21fa612f-98c5-4fe6-a048-2e2891bc6893",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate documentation in Notion\n",
        "height": 440,
        "width": 1080,
        "color": 5
      },
      "id": "6b6f931b-298f-4ac6-a256-be051912e667",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Polidata-beta",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "name"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "=updated by N8N #{{ $execution.id }}"
      },
      "id": "7caa1e4a-9705-4abd-9b91-73abe7ef41d0",
      "name": "Upload changes to repo",
      "type": "n8n-nodes-base.github",
      "position": [
        1904,
        848
      ],
      "typeVersion": 1,
      "webhookId": "570f7750-f910-4005-9a64-6be2110738ef",
      "credentials": {
        "githubOAuth2Api": {
          "id": "1QBd5tg7kt2G5YRf",
          "name": "Polidata-beta Github"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/kadens-cloud-dev",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/Polidata-beta/n8n-workflows",
          "mode": "url"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "created by N8N"
      },
      "id": "50993b0c-81fa-4042-9fb9-0d53d1266743",
      "name": "Create new file in repo",
      "type": "n8n-nodes-base.github",
      "position": [
        2240,
        848
      ],
      "typeVersion": 1,
      "webhookId": "9b0191b3-aee5-473d-825b-656dd7ef4037",
      "credentials": {
        "githubOAuth2Api": {
          "id": "1QBd5tg7kt2G5YRf",
          "name": "Polidata-beta Github"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Check workflow setup OK ",
        "height": 360,
        "width": 480,
        "color": 3
      },
      "id": "623c4dd7-ebce-4b15-ab2a-b9222eab66f3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Upload / backup workflow to GitHub repo",
        "height": 360,
        "width": 1080,
        "color": 5
      },
      "id": "bc47d8ab-3265-4148-ba2c-23e0a77156b6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Check weekly for changes on active internal-infra workflows",
        "height": 300,
        "width": 660
      },
      "id": "6cf569ad-38cd-4f8d-b65b-7c7fe36b1315",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "88337d36-8cf6-4cd5-bec1-5123cf612934",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Map fields').item.json.results }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b890dacf-2ac2-4802-b96a-5097119d35ee",
      "name": "Is this a new workflow (to Notion) ?",
      "type": "n8n-nodes-base.if",
      "position": [
        2032,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5f0685ee-2ffa-4cf8-8d65-32addb4bb703",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $json.updatedAt }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate()-1)).toISOString() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8d1fdf8c-3a80-4972-b721-ca9477be891b",
      "name": "Check if updated in last 7 days",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "polidata"
        },
        "requestOptions": {}
      },
      "id": "3380272e-5631-44aa-b7da-5e23e0966978",
      "name": "Get active workflows with internal-infra tag",
      "type": "n8n-nodes-base.n8n",
      "position": [
        656,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "usxbCawIrC3zqOiE",
          "name": "KM N8N LOCAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c53617b5-a217-4111-a229-82d93fb0bec6",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.input.errorWorkflow }}",
              "rightValue": ""
            },
            {
              "id": "3ea0c94e-e192-4e94-867f-788feda52d61",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.input['workflow-name'] }}",
              "rightValue": "Polidata - Error Workflow"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "0049cf1e-91e9-4ee0-abd7-5e0bfab18b7f",
      "name": "Check that error workflow has been configured",
      "type": "n8n-nodes-base.if",
      "position": [
        1136,
        768
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=WARNING: Error workflow has NOT been setup for: <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> (No backup will take place until err-workflow is configured)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        864
      ],
      "id": "ca4dd1f7-0535-4c0a-8462-ce2593ff0545",
      "name": "Discord",
      "webhookId": "003ff0ec-d12e-41e2-b5e6-4acba75ac541",
      "credentials": {
        "discordWebhookApi": {
          "id": "wDZZFQIdZWCN7MVm",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=WARNING: Failed to upload new N8N workflow <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> to repo",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2528,
        928
      ],
      "id": "b108ef9f-1de0-4cf1-9c3a-8e65b5013404",
      "name": "Discord1",
      "webhookId": "003ff0ec-d12e-41e2-b5e6-4acba75ac541",
      "credentials": {
        "discordWebhookApi": {
          "id": "wDZZFQIdZWCN7MVm",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=*Pushed new workflow to Notion* ```{{ $('Map fields').item.json.input['workflow-name'] }}\n\n{{ $json.property_ai_summary }}```\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2528,
        320
      ],
      "id": "dce6176c-a1e0-44f6-8618-27a0a25041d2",
      "name": "Discord4",
      "webhookId": "75503f92-f568-4fc1-b8a4-cd414c6dc059",
      "credentials": {
        "discordWebhookApi": {
          "id": "Aiv5tUG5MjMOEraf",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=*Updated workflow in Notion* -> {{ $('Map fields').item.json.input['workflow-name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2528,
        512
      ],
      "id": "584053fb-c184-4294-a165-a8aede37ff78",
      "name": "Discord5",
      "webhookId": "75503f92-f568-4fc1-b8a4-cd414c6dc059",
      "credentials": {
        "discordWebhookApi": {
          "id": "Aiv5tUG5MjMOEraf",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        416,
        352
      ],
      "id": "23379638-9a6d-449d-b57e-33ee8f41a3ca",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Map fields": {
      "main": [
        [
          {
            "node": "Check that error workflow has been configured",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize what the Workflow does",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields": {
      "main": [
        [
          {
            "node": "Get notion page with workflow id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update in Notion": {
      "main": [
        [
          {
            "node": "Discord5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload changes to repo": {
      "main": [
        [],
        [
          {
            "node": "Create new file in repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file in repo": {
      "main": [
        [],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if updated in last 7 days": {
      "main": [
        [
          {
            "node": "Set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get notion page with workflow id": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize what the Workflow does": {
      "main": [
        [
          {
            "node": "Is this a new workflow (to Notion) ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this a new workflow (to Notion) ?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get active workflows with internal-infra tag": {
      "main": [
        [
          {
            "node": "Check if updated in last 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check that error workflow has been configured": {
      "main": [
        [
          {
            "node": "Upload changes to repo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get active workflows with internal-infra tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "fBb2ByVyggQauZEU"
  },
  "staticData": null,
  "meta": {
    "templateId": "3354",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "88e84d37-a2e7-4ac0-b477-cb7409611a36",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-07-26T16:26:52.365Z",
      "updatedAt": "2025-07-26T16:26:52.365Z",
      "id": "Excxv6eeiOFnhDRH",
      "name": "polidata"
    },
    {
      "createdAt": "2025-07-26T16:26:55.546Z",
      "updatedAt": "2025-07-26T16:26:55.546Z",
      "id": "Flb96dPUkr8Xp6XU",
      "name": "github"
    },
    {
      "createdAt": "2025-07-26T16:26:59.056Z",
      "updatedAt": "2025-07-26T16:26:59.056Z",
      "id": "ymrfpVGdtdxogJzd",
      "name": "v1"
    }
  ]
}